/* Estilo das cores */
body {
    background-color: #E8EAED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Centralizar o texto "Login" e abaixar */
h1 {
    color: black;
}

/* Alterar a cor do link para uma tonalidade mais clara */
a {
    color: #4d7dab;
    font-size: 14px;
}

/* Ou, se desejar aplicar a uma classe específica */
.link-clara {
    color: #a0bad3;
    position: relative;
    top: 10px;
}

/* Ajustar a posição da div .form_frente sem afetar o "Login" */
.form-control {
    width: 40%;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    height: 50%;
}

.center-input {
    display: flex;
    justify-content: center;
}

.form_frente {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(2, 0, 0, 0.2);
    color: black;
    background-color: #FAFAFA;
    border: none;
    height: 400px;
    width: 30%;
    border-radius: 18px;
}

/* Centralizar o cabeçalho de login */
.login-header {
    text-align: center;
    color: black;
    margin-top: 20px;
}

.custom-width {
    width: 50vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn-primary {
    background-color: #0A73C2;
    color: #fff;
    border: 2px solid #6289b4;
}

.btn-primary:hover {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

/* Mensagens de sucesso em verde */
.flash_sucesso {
    color: green;
}

/* Mensagens de erro em vermelho */
.flash_erro {
    color: red;
}

/* Versão Mobile */
@media only screen and (max-width: 768px) {
    .form_frente {
        width: 80%; /* Aumenta a largura para 80% em telas menores */
        height: auto; /* Ajusta a altura automaticamente */
        padding: 15px; /* Reduz o padding */
    }

    .form-control {
        width: 90%; /* Aumenta a largura dos inputs para 90% */
        font-size: 16px; /* Aumenta o tamanho da fonte */
    }

    h1 {
        font-size: 24px; /* Diminui o tamanho da fonte para o título */
    }

    a {
        font-size: 12px; /* Diminui o tamanho da fonte dos links */
    }

    .custom-width {
        width: 90vw; /* Ajuste para ocupar 90% da largura da tela */
    }
}

@media only screen and (max-width: 480px) {
    .form_frente {
        width: 95%; /* Aumenta ainda mais a largura para 95% */
        padding: 10px; /* Reduz ainda mais o padding */
    }

    .form-control {
        width: 100%; /* Aumenta a largura dos inputs para 100% */
        font-size: 14px; /* Mantém um tamanho de fonte adequado */
    }

    h1 {
        font-size: 20px; /* Reduz o tamanho da fonte ainda mais para o título */
    }

    a {
        font-size: 10px; /* Diminui o tamanho da fonte dos links */
    }

    .btn-primary, .btn-secondary {
        font-size: 14px; /* Ajuste o tamanho dos botões para telas menores */
        padding: 10px; /* Ajuste o padding dos botões */
    }
}
