@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E8EAED;
}

.flash_sucesso {
    color: green; /* Cor verde para mensagens de sucesso */
}

.flash_erro {
    color: red; /* Cor vermelha para mensagens de erro */
}

.container {
    width: 90%;
    height: 95vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(124, 117, 117, 0.212)
}

.imagem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 1rem;
}

.imagem img {
    width: 75rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem;
}

.form-header {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #0C8CE9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    width: calc(52% - 1rem); /* Calcula 50% da largura menos o espaço entre os campos */
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #0C8CE9;
}

.input-boxlabel {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.cadastro-btn {
    color: white;
    width: 30%;
    border: none;
    background-color: #0C8CE9;
    padding: 0.62rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    margin-bottom: 0.2rem;
}

.cadastro-btn:hover {
    background-color: #0a73c2;
    transform: scale(1.05);
}

.continue-button {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para empilhar verticalmente */
    align-items: center; /* Centraliza os botões na horizontal */
    margin-top: 2.5rem;
}

.cadastro-btn a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}

.voltar-btn {
    background-color: transparent; /* Remove o fundo */
    color: #0C8CE9;
    border: none; /* Remove a borda */
    width: auto;
    cursor: pointer;
    padding: 0.62rem 1.5rem;
    margin-bottom: 0;
}

.voltar-btn:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.enviar-btn {
    width: 30%;
    margin-bottom: 0.2rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.enviar-btn:hover {
    transform: scale(1.05);
    background-color: #0a73c2;
}

@media screen and (max-width: 1330px) {
    .imagem {
        display: none;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column; /* Alinha os elementos verticalmente */
    }

    .form {
        width: 100%;
        padding: 2rem; /* Ajuste no padding para encaixar melhor */
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll; /* Mantém a rolagem vertical */
        max-height: 10rem;
        padding-right: 0;
    }

    .cadastro-btn {
        width: 40%; /* Aumenta a largura do botão */
        padding: 0.8rem; /* Aumenta o padding interno para um botão mais alto */
    }

    .input-box {
        width: 100%; /* Ajusta os campos para ocupar toda a largura */
        margin-bottom: 1rem; /* Espaçamento entre os campos */
    }
}
