@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E8EAED;
}

.container {
    width: 90%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.imagem {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 1rem;
}

.imagem img {
    width: 75rem;
}

.form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    height: 78vh;
    border-radius: 15px;
}

.form-header {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #0C8CE9;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.input-box {
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
}

.input-box input {
    width: 100%;
    margin: 0.8rem 0; /* Aumentando o espaçamento vertical */
    padding: 1.2rem; /* Aumentando o preenchimento dos campos de entrada */
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #0C8CE9;
}

.continue-button {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.continue-button button {
    width: 50%;
    padding: 1rem;
    border: none;
    background-color: #0C8CE9;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.4s, background-color 0.4s;
}

.continue-button button:hover {
    transform: scale(1.05);
    background-color: #0a73c2;
}

.continue-button button a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* css imagem */

#picture__input {
    display: none;
}

.picture {
    width: 750px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: #0C8CE9;
    color: #0C8CE9;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

/* header  */

header {
    background-color: #E8EAED;
    padding: 20px 4%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 22px;
}

header a:hover {
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #d6dde2;
    transform: scale(1.05);
}

.sair {
    background-color: gray !important;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: red !important; /* Altera a cor para vermelho quando passa o mouse */
}

.site-header {
    height: 80px; /* Altura do cabeçalho */
}

body {
    padding-top: 80px; /* Igual à altura do cabeçalho */
}

.menu-desktop {
    display: block;
}

.btn-abrir-menu i {
    color: #2093FF;
    font-size: 50px;
}

@media screen and (max-width: 1330px) {
    .imagem {
        display: none;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .form {
        width: 100%;
        padding: 2rem;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
        max-height: 10rem;
        padding-right: 0;
    }

    .cadastro-btn {
        width: 40%; /* Aumenta a largura do botão */
        padding: 0.8rem; /* Aumenta o padding interno para um botão mais alto */
    }

    .input-box {
        width: 100%; /* Ajusta os campos para ocupar toda a largura */
        margin-bottom: 1rem; /* Espaçamento entre os campos */
    }
}

@media screen and (max-width: 1020px) {

    .sair {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .sobre .container {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens à esquerda */
        justify-content: flex-start;
    }

    .sobre .container .card {
        margin-bottom: 20px; /* Adiciona espaçamento entre os containers */

    }

    .btn-abrir-menu {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    
    .sobre .container .card-border {
        margin-bottom: 20px;
    }

    .sobre .container .card-border:last-child {
        margin-bottom: 0;
    }

    footer .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    footer .footer-text p {
        font-size: 12px; 
    }

    header .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sobre .container {
        flex-direction: column;
        gap: 20px;
    }

    body.show-chatbot .chatbot {
        bottom: 100px; /* Ajuste esse valor conforme necessário para garantir que o chatbot não sobreponha o rodapé */
    }

    body.show-chatbot .rodapé {
        padding-bottom: 150px; /* Adiciona espaço extra ao rodapé quando o chatbot está ativo */
    }
}

@media screen and (max-width: 1020px) {

    /* classes gerais */

    h2.titulo {
        font-size: 27px;
        line-height: 30px;
    }

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
        margin-right: 10px;
    }

    /* topo-do-site */

    section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site img {
        width: 100%;
    }

    /* objetivos */

    section.objetivo {
        padding: 40px 8%;
    }

    /* estilo sobre */

    .container {
        flex-direction: column;
    }

    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* rodapé */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }


    .formulario {
        margin-top: 50px; /* Adicione a margem superior desejada */
    }

    /* Fale Conosco */
    .formulario input[type="text"],
    .formulario textarea {
        width: 80%; /* Defina a largura desejada */
        margin: 0 auto; /* Centralize horizontalmente */
        display: block; /* Garanta que cada campo ocupe a largura total disponível */
    }

    .btn-abrir-menu{
        display: block;
    }
}

.menu-mobile {
    background-color: #FAFAFA;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


.menu-header {
    display: flex;
    justify-content: flex-start; /* Alinha o botão à esquerda */
    padding: 28px;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: block;
}

.menu-mobile ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

.menu-mobile ul li {
    margin-bottom: 10px;
}

.menu-mobile ul li a {
    color: black;
    font-size: 20px;
    padding: 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    padding-right: 20px;
    padding-left: 0;
    text-decoration: none;
}

.menu-mobile ul li a:hover, 
.menu-mobile ul li a.active {
    background-color: #2093FF;
    color: white;
}

/* Botão de abrir menu */
.btn-abrir-menu {
    display: none; /* Oculto por padrão em telas grandes */
    font-size: 30px;
    cursor: pointer;
    color: #7d7d7d;
    background: none;
    border: none;
}

.btn-fechar {
    font-size: 35px;
    color: #2093FF;
    position: absolute;
    top: 0px; /* Ajuste a posição vertical se necessário */
    left: 15px; /* Ajuste a posição horizontal para mover o botão para a esquerda */
    cursor: pointer;
    background-color: transparent; /* Remove a borda preta */
    border: none; /* Remove qualquer borda */
    padding: 10px;
    transition: background-color 0.3s;
}

.btn-fechar-menu:hover {
    background-color: #fafafa;
}

@media screen and (max-width: 1020px) {
    /* Exibir o botão de menu em telas menores */
    .btn-abrir-menu {
        display: block;
    }

    /* Ocultar o menu desktop em telas menores */
    .menu-desktop {
        display: none;
    }
}