/* Adicione o estilo das cores aqui */
body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

header {
    background-color: #FAFAFA;
    padding: 10px 4%;
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%; /* Certifica que a largura seja 100% do contêiner pai */
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 22px;
}

header a:hover {
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.card {
    width: 50%;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
        left: 58%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    color: black; /* Define a cor do texto como branco */
    border: none; /* Remove a borda */
}

/* Estilo personalizado para o botão "Procurar" */
.custom-file-input::file-selector-button {
    background-color: #6c757d;
        color: #fff;
    border-radius: 10px; /* Borda arredondada para o botão */
    padding: 5px 10px; /* Espaçamento interno para o botão */
    margin-top: 10px; /* Espaçamento superior do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Mostrar o cursor de mão ao passar o mouse sobre o botão */
    }
    a {
    color: #4d7dab; /* Cor mais clara do que o azul padrão */
    }
    /* Efeito de hover para o botão "Procurar" */
    .custom-file-input::file-selector-button:hover {
    background-color: #4d4f51; /* Altera a cor de fundo quando hover */
                border: 2px solid #5f656a; 
    }
    /* Alterar a cor do link para uma tonalidade mais clara */
a {
    color: #4d7dab; /* Cor mais clara do que o azul padrão */
    }
    
    /* Ou, se desejar aplicar a uma classe específica */
    .link-clara {
    color: #4d7dab; /* Cor mais clara para links com a classe "link-clara" */
    }


    header > .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn-primary {
        color: white;
        width: 20%;
        border: 2px solid #6289b4; 
        background-color: #004182;
        padding: 0.62rem;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, transform 0.2s;
        margin-bottom: 0.2rem;
    }
    .btn-primary:hover {
        background-color: #007bff; }
    
        .center-input {
            display: flex;
            justify-content: center;
            }
                    
.sair {
    background-color: gray !important;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: red !important; /* Altera a cor para vermelho quando passa o mouse */
}
