   
.loading-animation {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-secondary {
    background-color: #ee0000e7;
    color: #fff;      
border: 2px solid #f33232eb;   
transform: scale(0.8);
      }
      .btn-primary {
        background-color: #004182;
        color: #fff;      
  border: 2px solid #6289b4;   
  transform: scale(0.8); /* Reduz o tamanho do botão */
      }
      .btn-primary:hover {
          background-color: #007bff; }
      .btn-secondary:hover  {
          background-color: #ff0000;
      }
   
      .row {
        margin-left: 98px; /* Adicione a margem desejada à esquerda dos elementos da linha */
    }
            
.upload-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 70px;
    width: 70px;
    color: #fff;
    background: #2093FF;
    border-radius: 50%;
    border:none;
    outline:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    z-index: 999;

}
  .nav-link.active1 {
    color: red;
}

  
  .video-with-border {
      border: 1px solid #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  

  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
  
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
       /* Adicione o estilo das cores aqui */
body {
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

header {
    background-color: #FAFAFA;
    padding: 10px 4%;
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%; /* Certifica que a largura seja 100% do contêiner pai */
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-size: 22px;
}

header a:hover {
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button {
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2093FF;
    color: white;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #d6dde2;
    transform: scale(1.05);
}

.sair {
    background-color: gray !important;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: red !important; /* Altera a cor para vermelho quando passa o mouse */
}
/* Aplica a fonte 'Roboto' para todo o corpo da página */
body {
    font-family: 'Poppins', sans-serif;
}

/* Adiciona estilos específicos para outros elementos, se necessário */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, a, li, button {
    font-family: 'Poppins', sans-serif;
}