   
.loading-animation {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
            
  .nav-link.active1 {
    color: red;
}

  
  .video-with-border {
      border: 1px solid #fff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  }
  
  a {
  color: #4d7dab; /* Cor mais clara do que o azul padrão */
  }
  
  .c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
  
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
          /* Adicione o estilo das cores aqui */
         body{
  
  
            background-color: #0e1525;
  
         }
         /* Centralizar o texto "Login" */
  h1 {
      text-align: center;
      margin-top: 100px; /* Ajuste a margem superior conforme necessário */
  
  }
  .navbar-nav .nav-link {
    color: #fff !important;
}
  /* Alterar a cor do link para uma tonalidade mais clara */
  a {
      color: #4d7dab; /* Cor mais clara do que o azul padrão */
  }
  
  /* Ou, se desejar aplicar a uma classe específica */
  .link-clara {
      color: #4d7dab; /* Cor mais clara para links com a classe "link-clara" */
  }
  
  /* Ajustar a posição da div .form_frente sem afetar o "Login" */
          .form-control {
            width: 40%; 
            font-size: 14px; 
            text-align: left;
            margin: 0 auto;           
            margin-top: 20px;
        }
          .center-input {
          display: flex;
          justify-content: center;
      }
      .hidden {
              display: none; /* Classe para ocultar o elemento */
          }
          .form_fundo {
              background-color: transparent; /* Fundo transparente */
                          padding: 20px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              border: none; 
          }
  
          .form_frente {
      text-align: center;
      padding:  100px -100px; /* Reduzir o preenchimento */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: #ffffff;
      background-color: transparent; /* Fundo transparente */
      border: none; /* Remove a borda */
      padding: 0; /* Sem preenchimento */
      box-shadow: none; /* Remove a sombra */
      margin-top: 100px; /* Ajuste a margem superior conforme necessário */
  
  
  }
  
      .btn-secondary {
        background-color: #ee0000e7;
        color: #fff;      
  border: 2px solid #f33232eb;   
  transform: scale(0.8);
          }
          .btn-primary {
            background-color: #004182;
            color: #fff;      
      border: 2px solid #6289b4;   
      transform: scale(0.8); /* Reduz o tamanho do botão */
          }
          .btn-primary:hover {
              background-color: #007bff; }
          .btn-secondary:hover  {
              background-color: #ff0000;
          }
       
          .row {
            margin-left: 98px; /* Adicione a margem desejada à esquerda dos elementos da linha */
        }
        
  .video-container {
      text-align: center;
      justify-content: flex-end; 
      align-items: center;
      margin-right: 50px;
      
  }
  
  .video-checkbox {
      transform: scale(1.1);
      margin-left: 3px;
      vertical-align: middle;
  }
  
  .video-label {
      font-size: 14px;
      vertical-align: middle;

  }
  
  .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  
  .video {
      width: 80%;
      max-width: 400px;
      height: auto;
      display : "block";
      margin-Top :"50px";
  }
  
  .video-label {
      display: flex;
      align-items: center;
      margin-top: -30px;
  }
  
  .custom-checkbox {
      transform: scale(1.5);
  }  