<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/analise.css')}}" />
    <title>Resultado da Análise</title>
</head>

<header>
    <div class="interface">
        <div class="logo">
            <a href="#">
                <img src="{{ url_for('static', filename='css/Imgs/logo.png') }}"  alt="Logo" width="75px">
            </a>
        </div>

        <nav class="menu-desktop">
            <ul>
                <li><a href="/home">Início</a></li>
                <li><a href="/tempo">Clima</a></li>
                <li><a href="/IA">Análise de Vídeo</a></li>
                <li><a href="/Video">Biblioteca</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
        </nav>
        <a href="/">
            <button class="sair" >Sair</button>
        </a>
    </div>
</header>

<body>
    <div class="card">
        <h1>Resultado da Análise do Vídeo</h1>
        <p>O vídeo foi analisado com sucesso!</p>
        <p>Clique no Botão para Baixar</a></p>
        <form action="{{ url_for('download') }}" method="post">
            <input type="hidden" name="result_video_path" value="{{ result_video_path }}">
            <button type="submit">Baixar Vídeo Analisado</button>
        </form>
    </div>
</body>
</html>
