<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/upload_ia.css')}}" />
    <title>Upload de Vídeo</title>
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <img src="{{ url_for('static', filename='css/Imgs/logo.png') }}"  alt="Logo" width="75px">
                </a>
            </div>
    
            <nav class="menu-desktop">
                <ul>
                    <li><a href="/home">Início</a></li>
                    <li><a href="/tempo">Clima</a></li>
                    <li><a href="/IA">Análise de Vídeo</a></li>
                    <li><a href="/Video">Biblioteca</a></li>
                    <li><a href="/perfil">Perfil</a></li>
                </ul>
            </nav>
            <a href="/">
                <button class="sair" >Sair</button>
            </a>
        </div>
    </header>

    <div id="upload">
        <h1>Upload de Vídeo</h1>
        <form id="uploadForm" action="/UploadIA" method="post" enctype="multipart/form-data" onsubmit="showLoader()">
            <input type="file" name="video" accept="video/*">
            <button type="submit">Enviar</button>
        </form>
        <div id="loader" style="display: none;" class="loader"></div>
    </div>

    <script>
        function showLoader() {
            document.getElementById("uploadForm").style.display = "none";
            document.getElementById("loader").style.display = "block";
        }
    </script>
</body>
</html>
